.main{
    @apply
    flex
    max-w-full
    h-[100vh]
}
.background{
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
    @apply
    flex
    justify-center
    items-center
    w-fit
    h-fit
    px-1
    py-1
    mt-[12%]
    mx-auto
    bg-white
}
.block_authorization{
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
    @apply
    flex
    flex-col
    justify-center
    items-center
    w-[26vw]
    h-[35vh]
    px-[80px]
    bg-[#2C2C2C]
}
.text_h1{
    @apply
    text-3xl
}
.input{
    outline: none;
    @apply
    w-full
    py-3
    pr-2
    ps-8
    text-xl
    border-b-2
    bg-[#2C2C2C]
}
.input::placeholder{
    @apply
    text-lg
}
.input_icon{
    @apply
    absolute
    inset-y-0
    start-0
    flex
    items-center
    pointer-events-none
}
.eye_password{
    @apply
    absolute
    inset-y-0
    end-0
    flex
    items-center
}
.block_button{
    @apply
    grid
    grid-cols-5
    w-full
    gap-9
    mt-[20px]
}
.background_button{
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
    @apply
    py-[2px]
    px-[2px]
    bg-white
}
.button_log_reg{
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
    @apply
    block
    w-full
    px-2.5
    py-1.5
    text-center
    text-xl
    bg-[#2C2C2C]
}